
.Who-we-are-banner {
    position: relative;
   top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
  }
  
  #circle-stroke  {
   width: 100%;
   position: absolute;
   left: -2vw;
   top: -1vw;
  }  
  .WWR-banckground-image {
    position: absolute;
   top: -20%;
   z-index: -1;
  width: 100%;
  left: 0;
  transition: all 1.4s cubic-bezier(.22,1,.36,1);
   opacity: 0;
  }
  .WWR-banckground-image img {
    position: relative;
    width: 100%;
  
  }
  .Innovators {
    font-size: calc(clamp(2.625rem, 4.474vw - 0.244rem, 5.125rem));
    margin: 0;
    color: #fff;
    mix-blend-mode: difference; /* Blending mode */
    position: absolute;
    font-weight: 700;
    top: 50%;
    left: 14%;
    transition: all 1.4s cubic-bezier(.22,1,.36,1);
    opacity: 0;
  }
  .who-we-are {
    font-size:calc(clamp(9.375rem, 11.186vw + 2.202rem, 15.625rem));
    margin: 0;
    font-weight: 800;
    mix-blend-mode: difference; /* Blending mode */
    color: #fff;
  }
  
  .WWR-text {
    position: relative;
    width: 98%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .not-by-words {
    position: absolute;
    font-size: calc(clamp(2.625rem, 4.474vw - 0.244rem, 5.125rem));
    color: #fff;
    mix-blend-mode: difference; /* Blending mode */
    text-align: center;
    font-weight: 700;
    margin: 0;
    opacity: 0;
    transition:  all 1.4s cubic-bezier(.22,1,.36,1);;
    top: 50%;
  }
  .but-by-Action {
    font-size: calc(clamp(2.625rem, 4.474vw - 0.244rem, 5.125rem));
    margin: 0;
    text-align: end;
    color: #fff;
    mix-blend-mode: difference; /* Blending mode */
    font-weight: 700;
    position: absolute;
    right: 10%;
    top: 50%;
    opacity: 0;
  }