
:root {
    --cloud-heading-font-size : calc(clamp(1.875rem, 3.356vw - 0.277rem, 3.75rem));
    --heading-line-height : 4.5vw
}
.cloud-heading {
    transform:  translateY(-20px) ;
    opacity: 0;
}
 .starting-parallex {
    position: fixed;
    width: 100%;
    top: 0;
    pointer-events: none;
    height: 100vh;
    z-index: 9;
    perspective: 500px;
}
 .starting-parallex .parallex-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00050A;
}
 .starting-parallex .parallex-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}
 .starting-parallex .parallex-img .black-box {
    position: absolute;
    width: 22vw;
    height: 29vh;
    top: 37vh;
    left: 39vw;
    background-color: #00050A;
}
 .starting-parallex .overlay-text {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 100%;
    background-color: #000000a8;
}
.cloudsplash-text {
    margin-bottom: 20px;
}
 .starting-parallex .overlay-text .C-banner-center {
    font-size: calc(clamp(2.188rem, 3.915vw - 0.323rem, 4.375rem));
    font-weight: 600;
    text-align: center;
    width: 100%;
    color: #fff;
    overflow: hidden;
}
 .starting-parallex .overlay-text .C-banner-center-subtitle {
    font-size: calc(clamp(1.375rem, 2.013vw + 0.084rem, 2.5rem));
    font-weight: 400;
    text-align: center;
    width: 80%;
    color: #fff;
}
 .starting-parallex .overlay-text .parent-of-subtitle h3 {
    display: flex;
    justify-content: center;
}
/* --------------------------------------------------------------------------------------------------------------------------------- */

